<div id="wrap-home-page" class="section">
    <div class="logo maxi"></div>
    <h2>Hand To Hand</h2>
    <p>ברוכים הבאים לאפליקציית יד ליד</p>
    <p>כדי לחפש מתנדב ללא הרשמה ביכולתך להיכנס כ<a href="guest">אורח</a>
        <br> לפעולות נוספות יש צורך להתחבר לאפליקציה</p>
    <div class="wrap-buttons">
        <!-- <button mat-raised-button color="accent" (click)="mitnadev()">כניסה כמתנדב</button>
        <button mat-raised-button color="accent" (click)="needHelp()">כניסה כמבקש עזרה</button> -->

        <!-- <button mat-raised-button color="accent" (click)="register()">הרשמה</button> -->
        <button mat-raised-button color="accent" (click)="login()">התחברות</button>
    </div>
</div>