<!--<button  routerLink="/new-help-request">במה נוכל לעזור לך </button>
<button (click)="saveNextRoute('volunteer')" routerLink="/register">במה תוכל לעזור לנו</button>-->

<!-- <button  routerLink="/guest"> במה נוכל לעזור לך? כניסה כאורח </button> -->
<!-- <button (click)="saveNextRoute('volunteer')" routerLink="/register">הרשמה</button> -->
<div id="home-page">
    <div class="logo"></div>
    <h2 class="welcome-text">Hand To Hand</h2>

    <button mat-raised-button (click)="mitnadev()">מתנדב</button>
    <button mat-raised-button (click)="needHelp()">צריך עזרה</button>
</div>