<div id="mitnadev-space" class="section">
  <!-- <div id="mitnadev-space-page">
    <div class="logo-wrap-banner">
      <img src="../assets/logo.png">
    </div> -->
    <!-- <header text="אזור אישי (מתנדב)"></header> -->
    <p>איזור אישי</p>
    <profile></profile>
    <div class="buttons-wrap">
      <!-- <button  mat-button (click)="ghow()">צפייה במערכת השעות</button> -->
      <button mat-button color="primary" (click)="update()">עדכון פרטים</button>
      <button mat-button color="primary" (click)="go()">התנתק מהאתר</button>
      <button mat-button color="primary" (click)="add()">הוסף התנדבות</button>
      <!-- <button  mat-button (click)="up()"> מחק  התנדבות</button> -->
    </div>
  <!-- </div> -->
</div>