<!-- <p>needhelp-space works!</p> -->

<div id="needHelp-space-page">
    <!-- <div class="logo-wrap-banner">
      <img src="../assets/logo.png">
    </div> -->
    <header text="אזור אישי (מבקש עזרה)"></header>
    <div class="buttons-wrap">
      <!-- <button mat-button (click)="show()"  >צפייה במערכת השעות</button> -->
      <button mat-button color="primary" (click)="update()">עדכון פרטים אישיים</button>
      <button mat-button color="primary" (click)="go()"> התנתק מהאתר</button>
      <button mat-button color="primary" (click)="add()"> הוסף בקשת עזרה</button>
     <!-- <button  mat-button  (click)="up()"> מחק  התנדבות</button> -->
    </div>
  </div>
