<div id="wrap-login" class="section">
    <header text="התחברות לאתר"></header>
    <form class="login-from" (ngSubmit)="login($event)" #loginform="ngForm">

        <p>עדין אין לך חשבון? <a href="register">הירשם</a></p>

        <mat-form-field>
            <mat-label>מייל</mat-label>
            <input matInput placeholder="מייל" type="email" name="email" [(ngModel)]="loginObj.email" required
                #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <label *ngIf="email.errors?.['required']">שדה חובה</label>
                <label *ngIf="email.errors?.['pattern']">כתובת מייל לא תקינה</label>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>סיסמה</mat-label>
            <input matInput placeholder="סיסמה" type="password" name="password" [(ngModel)]="loginObj.password" required
                #password="ngModel" minlength="6">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                <label *ngIf="password.errors?.['required']">שדה חובה</label>
                <label *ngIf="password.errors?.['minlength']">סיסמה חייבת להכיל לפחות 6 תווים</label>
            </mat-error>
        </mat-form-field>
        
        <p>היכנס כ<a href="guest">אורח</a> (מאפשרת חיפוש מתנדב בלבד)</p>

        <div class="wrap-buttons">
            <button mat-raised-button color="primary" class="volunteer" type="submit">התחבר כמתנדב</button>
            <button mat-raised-button color="primary" class="helpRequest" type="submit">התחבר כמבקש עזרה</button>
        </div>
    </form>
</div>